<html lang="en">
  <head>
    <title>NYPL | Recommendations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <% for (var i=0; i < metatags.length; i++) {%>
     <%- metatags[i] %>
    <% } %>

    <link rel="shortcut icon" type="image/ico" href="//d2znry4lg8s0tq.cloudfront.net/images/favicon.ico">

  <% if (isProduction) { %>
    <!-- Minified Styles -->
    <link rel="stylesheet" type="text/css" href='dist/styles.css' />
  <% } %>

  </head>
  <body>
    <div id='content'><%- markup %></div>

    <script type='text/javascript'>
      var path = '<%= path %>';
      var appEnv = "<%= appEnv %>";
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

    <!-- twitter web intents widgets-->
    <script>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));
    </script>

    <!-- tumblr share button widgets-->
    <script>
      !function(d,s,id){
        var js,ajs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)){
          js=d.createElement(s);
          js.id=id;
          js.src="https://secure.assets.tumblr.com/share-button.js";
          ajs.parentNode.insertBefore(js,ajs);
      }}(document, "script", "tumblr-js");
    </script>

    <script id="tumblr-js" async src="https://assets.tumblr.com/share-button.js"></script>

  <% if (isProduction) { %>
    <script async src="dist/<%= assets.main.js %>"></script>
  <% } else { %>
    <script src="http://localhost:3000/bundle.js"></script>
  <% } %>

    <!-- Optimizely -->
    <script src="https://cdn.optimizely.com/js/284748925.js"></script>
    <!-- Optimizely -->

    <!-- OptinMonster -->
    <script>var om1044_12468,om1044_12468_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){om1044_12468_poll(function(){if(window['om_loaded']){if(!om1044_12468){om1044_12468=new OptinMonsterApp();return om1044_12468.init({"a":12468,"staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="https://a.optmstr.com/app/js/api.min.js",o.async=true,o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;om1044_12468=new OptinMonsterApp();om1044_12468.init({"a":12468,"staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script>
    <!-- /OptinMonster -->
  </body>
</html>
